$basic-grey: #333;
$light-grey: #666;
$lighter-grey: #666667;
$very-light-grey: #E6E6E6;
$transparent-grey: #F8F8F9;

$basic-orange: #FA9923;
$transparent-orange: #fa99231a;

$accident-grey: #464646;

$flat-white: #fff;
$transparent-white: #F7F7F7;

$twitter: #00aced;
$facebook: #3b5998;