@import 'styles/helpers/colors';

.wrapper {
  height: 375px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (min-width: 767px) { 
    height: 500px;
  }

  img {
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.controls {
  display: grid;
  grid-template-columns: repeat(2, auto);
  height: 100%;
  padding: 0 5px;
  position: absolute;
  width: 100%;

  button {
    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  svg {
    fill: $flat-white;
    height: 20px;
    width: 20px;
  }
}

.info {
  bottom: 15px;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2, max-content);
  left: 15px;
  position: absolute;

  @media (min-width: 767px) {
    left: 0;
    margin: auto;
    max-width: 1110px;
    right: 0;
    width: 90%;
  }

  svg {
    height: 18px;
    width: 18px;
  }
}

.count {
  align-items: center;
  color: $basic-grey;
  display: grid;
  font-size: 14px;
  font-weight: 600;
  grid-template-columns: repeat(3, auto);

  svg {
    margin-right: 7px;
  }
}

.like {
  cursor: pointer;
}

.count,
.like {
  background-color: $flat-white;
  border-radius: 6px;
  padding: 10px 18px;
}
