@import "styles/helpers/colors";
@import "styles/helpers/media";

.wrapper {
  padding: 40px 15px 0;
  position: relative;

  .row {
    @media #{$desktop} {
      margin: 0 auto;
      max-width: 1110px;
      width: 90%;
    }
  }

  .categories {
    color: $light-grey;
    margin-bottom: 30px;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 0 3px;
      transition: color 0.2s ease-out;

      &:hover {
        color: $basic-orange;
      }

      &:first-child {
        color: $basic-orange;
        padding-left: 0;
      }
    }

    span:last-child {
      display: none;
    }
  }

  .cards {
    @media #{$desktop} {
      display: grid;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
  }

  .see_more {
    align-items: center;
    color: $basic-grey;
    cursor: pointer;
    display: grid;
    font-size: 15px;
    font-weight: 600;
    grid-column-gap: 10px;
    grid-template-columns: repeat(2, auto);
    letter-spacing: 0.3px;
    padding: 30px 0 50px;
    text-align: center;
    text-transform: uppercase;

    span {
      text-align: right;
    }

    svg {
      height: 35px;
      width: 35px;
    }
  }
}

.c3 {
  grid-template-columns: repeat(3, 1fr);
}

.c4 {
  grid-template-columns: repeat(4, 1fr);
}

.wrapper.white {
  background-color: $flat-white;
}

.wrapper.grey {
  background-color: $transparent-grey;
}
